.App {
  text-align: center;

 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.list{
 padding-top: 24vh;
}

.count{
  border: 1px solid rgba(218, 28, 28, 0.4);
  display: flex;
  margin: 10px;
}

.count img{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}


.none{
  display: none;
}


 .filter{
  filter: grayscale(1)
 }

.show{
  background-color: #135df1;
  position:fixed;
  top: 23%;
  left: 34.5%;
  height: 480px;
}

.show img{
  height: 200px;
  width: 400px;
}